*{
    margin:0;
    padding:0;
    list-style:none;
}

.tab{
    width:400px;
    height:140px;
    margin:10px 0px 0px 10px;
    border:1px solid #eeeeee;
}
.title{
    width:400px;
    height:40px;
    background: #eee;
}
.title ul>li{
    position:relative;
    width:80px;
    height:40px;
    line-height:40px;
    float:left;
    text-align:center;
}
.title ul>li>a{
    text-decoration: none;
    font-size:18px;
    color:black;
}
.title ul>li>a:hover{
    font-weight:800;
    color:moccasin;
}

.content>ul>li{
    width:200px;
    height:50px;
    line-height:50px;
    text-decoration: none;
    text-align:center;
    float:left;
}