.box{
    width:1200px;
    margin:0 auto;

    display:flex;
    display: -webkit-flex;
}
#item-1{
    width:700px;
    height:800px;
    min-height:600px;

    background-color: #3c763d;
}

#item-2{
    flex-grow: 1;
    height:200px;
    background-color: #5a99eb;
}